/* CSS Document */

body {
    background-color: #444;
    -webkit-user-select: text;
    -moz-user-select: text;
    width: 100%;
    margin: auto;
}

::selection {
    background: rgba(204,0,204,0.6);
}

::-moz-selection {
    background: rgba(204,0,204,0.6);
}

/* button rows */
.row {
    display: flex;
}

.row0 {
    justify-content: flex-end;
}

.calculator-frame {
    /**/
    background: url(http://gdurl.com/buqF) center no-repeat;
    background-size: 100% 100%; /**/
    height: 680px;
    width: 500px;
    margin: auto;
    display: block;
}

.display {
    position: relative;
    top: 35px;
    text-align: right;
    border: solid #222;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px 10px 0 0;
    color: black;
    height: 40px;
    width: 385px;
    margin: auto;
    margin-top: 150px;
    padding: 3px;
    position: relative;
    left: 50px;
    font-size: 2em;
}

/* Calculator Buttons Section */
.button-grid {
    width: 400px;
    position: relative;
    top: 50px;
    left: 50px;
}

.button {
    cursor: pointer;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: solid #222;
    height: 25px;
    width: 45px;
    padding: 8px;
}

    .button:hover {
        box-shadow: 0 0 20px 3px #909 inset;
    }

    .button:active {
        box-shadow: 0 0 30px 3px #222 inset;
    }

.buttonsqr {
    background-image: url(https://i.ibb.co/2nGpzNr/04msqr.png);
}

.buttonpi {
    background-image: url(https://i.ibb.co/bJBJFWF/06pi.png);
}

.buttonsqrt {
    background-image: url(https://i.ibb.co/w6qBCgS/05msqrt.png);
}

.buttonsin {
    background-image: url(https://i.ibb.co/XVJgmJZ/17sin.png);
}

.buttoncos {
    background-image: url(https://i.ibb.co/zZbDqrX/18cos.png);
}

.buttontan {
    background-image: url(https://i.ibb.co/ZNBww1M/11tan.png);
}

.buttonarc {
    background-image: url(https://i.ibb.co/jZxsXDT/12atan.png);
}

.buttonmod {
    background-image: url(https://i.ibb.co/9w7tt2f/30mod.png);
}

.buttonrand {
    background-image: url(https://i.ibb.co/YZ6YP1M/24rand.png);
}

.buttonrad {
    background-image: url(https://i.ibb.co/0h9mRPX/10rad.png);
}

.buttondeg {
    background-image: url(https://i.ibb.co/nzpLzNC/16deg.png);
}

.button7 {
    background-image: url(https://i.ibb.co/QnZx9ZX/07seven.png);
}

.button8 {
    background-image: url(https://i.ibb.co/TtkNBm0/08eight.png);
}

.button9 {
    background-image: url(https://i.ibb.co/zR9XrRk/09nine.png);
}

.button4 {
    background-image: url(https://i.ibb.co/qRrtPbM/13four.png);
}

.button5 {
    background-image: url(https://i.ibb.co/N6q3xCg/14five.png);
}

.button6 {
    background-image: url(https://i.ibb.co/42sf3MR/15six.png);
}

.buttonac {
    background-image: url(https://i.ibb.co/ZHCPwRK/00ac.png);
}

.buttonmul {
    background-image: url(https://i.ibb.co/mGZnDN8/28multiply.png);
}

.button1 {
    background-image: url(https://i.ibb.co/SnpQcpH/19one.png);
}

.button2 {
    background-image: url(https://i.ibb.co/VHmnKvm/20two.png);
}

.button3 {
    background-image: url(https://i.ibb.co/jvN7fV3/21three.png);
}

.buttondiv {
    background-image: url(https://i.ibb.co/3NdFfFp/29divide.png);
}

.button0 {
    background-image: url(https://i.ibb.co/D4y5wbP/26zero.png);
}

.buttondec {
    background-image: url(https://i.ibb.co/99B2m3C/25dot.png);
}

.buttonequals {
    background-image: url(https://i.ibb.co/NWcHQ0s/27equals.png);
}

.buttonadd {
    background-image: url(https://i.ibb.co/XCszsFH/22plus.png);
}

.buttonsub {
    background-image: url(https://i.ibb.co/hD5S9Qj/23minus.png);
}

.buttonmplus {
    background-image: url(https://i.ibb.co/gvMtxQk/01mplus.png);
}

.buttonmclr {
    background-image: url(https://i.ibb.co/fkN9qyW/02mclr.png);
}

.buttonmrec {
    background-image: url(https://i.ibb.co/2MdynxQ/03mrec.png);
}
